.first-color { 
	background: #272343; /*marin blå*/
}
	
.second-color { 
	background: #ffffff; /*vit*/
}

.third-color { 
	background: #e3f6f5; /*ljus blå*/
}

.fourth-color { 
	background: #bae8e8; /*ljus turkos*/
}
