body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #272343;
  }
  /*Lösning för bild och text i header*/
  
  header section{
    position: relative;
    width: 100%;
    height: 150px;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  /* Object fit: cover låter höjden på bilden va samma, men skalar den efter storlek*/
  header section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

header section h1{
    color: white;
    font-size: 40px;
    z-index: 1;
    text-align: center;
    font-weight: bold;
  }
header section a{
    text-decoration: none;
}
/*slut på header kod*/
 /*kod för main*/ 
main section{
    display:grid;
    padding: 20px;
    background-color: #e3f6f5 ;
    margin:10px;
    border-radius: 8px;
}
/*gallery text*/ 
h3,h4,p{
    text-align: center;
}
  /*main*/
main section img{
    width:100%;
    height:auto;
    border-radius: 8px;
}

/*ipad air*/
@media (min-width:820px) {
    main section{
        grid-template-columns: repeat(2,1fr);
        gap:20px;
    }
    main section img{
        height:400px;
        width:400px;
    }
}
/*dator*/
@media (min-width:1024px) {
    main section{
        grid-template-columns: repeat(2,1fr);
        gap:20px;
    }
    main section img{
        height:400px;
        width:400px;
    }
}