/*Universal selektor för att välja alla tillgängliga html element*/
* {
  /*boder-box betyder att ett elements innehåll såsom text, bilder eller andra element trycks ihop när, 
    margin padding eller en boder appliceras, istället för att elementet växer is storlek vilket är grundvärdet*/
  box-sizing: border-box;
}

/* I CSS används :root som en speciell selektor som representerar det högsta elementet i ditt dokument, 
det vill säga HTML-taggen (<html>). När du definierar variabler under :root, blir de tillgängliga 
över hela ditt CSS-dokument, vilket gör det enkelt att återanvända dem var som helst på sidan. */
:root {
  --first-color: #272343; /* marin blå */
  --second-color: #ffffff; /* vit */
  --third-color: #e3f6f5; /* ljus blå */
  --fourth-color: #bae8e8; /* ljus turkos */
}

/* Exempel på anvädning av css-variabler */
/* .first-color {
  background: var(--first-color);
  color: var(--second-color); Use white text on the dark background
}

.second-color {
  background: var(--second-color);
  color: var(--first-color); Use dark text on the light background
}

.third-color {
  background: var(--third-color);
  color: var(--first-color); Dark text on light blue
}

.fourth-color {
  background: var(--fourth-color);
  color: var(--first-color); Dark text on light turquoise
} */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

footer {
  width: 100%;
  background-color: var(--fourth-color);
  padding: 50px;
  bottom: 0;
  font-size: 1rem;
}

footer .footerContent {
  display: flex;
  align-items: center; /* Align text and icon vertically */
  gap: 10px; /* Add space between icon and text */
  width: 100%;
  padding: 10px;
}

.icon-circle img {
  width: 20px; /* Adjust SVG size */
  height: 20px;
}

.icon-circle {
  background-color: var(--third-color); /* Circle background color */
  width: 40px; /* Circle width */
  height: 40px; /* Circle height */
  border-radius: 50%; /* Makes the container a circle */
  display: flex;
  justify-content: center; /* Horizontally center the icon */
  align-items: center; /* Vertically center the icon */
  margin-right: 10px; /* Space between icon and text */
}

footer .footerContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

footer .textContainer h4{
  font-size: 1.5rem;
  font-weight:800;
}

footer .textContainer {
  line-height: 2rem;
}

footer .contactContainer {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

footer .contactContainer p {
  margin: 0;
  display: flex;
}

@media (min-width: 768px){
  footer .footerContainer {
    flex-wrap: nowrap;
  }

  footer .contactContainer {
    flex-direction: row; /* On larger screens, align the content in a row */
    gap: 10px; /* Add space between the different sections */
    padding-left: 15%;
  }

  footer .textContainer {
    padding-right: 15%;
  }

  footer article {
    flex: 1;
    max-width: 600px;
  }

}